:root {
    --teal: #008080;
    --segundo: #fff; 
}
body {
    background-color: #ddd;
}
header {
    text-align: center;
}
main {
    display: flex;
    justify-content: center;
}
h1 {
    color: var(--teal);
}
form { 
    border-radius: 10px;
    width: 25%;
    border: 1px solid var(--teal);
    margin: 20px;
    padding: 20px;
    background: #f5f5cc;
}
label {
    display: block;
    width: 100%;
}
input {
    margin-bottom: 20px;
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--segundo);
    border-radius: 10px;
}
button, select{
    margin-bottom: 0px;
    background: var(--teal);
    color: var(--segundo);
    border: none !important;
}
button:hover{
    background: var(--teal);
    color: var(--segundo);
    border: 1px solid var(--segundo);
    cursor: pointer !important;
}
button:focus {
    border: 1px solid #ccc;
    background: var(--segundo);
    color: var(--teal);
    cursor: progress !important;
}
input:focus {
    outline: none; 
    border: 1px solid var(--teal);
}